table, th, td {
    border: 1px solid black;
    background-color: lightblue;
}

th {
    padding: 10px;
    background-color: lightgray;
}

td {
    width: 200px;
    padding: 5px;
}

.h2-cart {
    text-align: center;
    padding: 25px;
    font-weight: bold;
}

.cart-container {
    position: absolute;
    background-image: url("./image.jpg");
    background-color: lightsteelblue;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

table {
   margin-left: 75px;
}

.buy-btn {
    background-color: lightyellow;
    color: black;
    border: 1px solid silver;
    height: 33px;
    margin-top: 20px;
    margin-left: 75px;
}

.empty {
    margin-left: 75px;
}