table, th, td {
    border: 1px solid black;
    background-color: lightblue;
}

th {
    padding: 10px;
    background-color: lightgray;
}

td {
    width: 200px;
    padding: 5px;
}

.h2-cart {
    text-align: center;
    padding: 25px;
    font-weight: bold;
}

.cart-container {
    position: absolute;
    background-image: url("./image.jpg");
    background-color: lightsteelblue;
    width: 100%;
    height: 100%;
}

table {
   margin-left: 100px;
}

.buy-btn {
    background-color: sandybrown;
    color: seashell;
    border: none;
    height: 25px;
    margin-top: 20px;
    margin-left: 150px;
}