.shop {
    position: absolute;
    background-image: url("./image.jpg");
    background-color: lightsteelblue;
    width: 100%;
    height: 100%;
}

.shop-container {
    position: absolute;
    background-image: url("./image.jpg");
    background-color: grey;
    text-align: center;
    width: 100%;
}

.item-container {
    display: inline-block;
    margin: 10px;
    height: 350px;
    width: 350px;
    border: 1px solid black;
    text-align: center;
    background-color: lightsalmon;
}

.h5-shop {
    padding: 5px;
    font-weight: bold;
    color: black;
}

.p-shop {
    color: black;
}

img {
    height: 300px;
    width: 340px;
    border-radius: 5px;
    border: 1px solid black;
}

.item-container:hover img {
    border: 1px solid lightyellow;
}

.item-container:hover {
    border-radius: 20px;
}
